.page {
  position: relative;
  width: 4.5in;
  height: 7.125in;
  margin: 0.5in;
  background-color: #fff;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.46);
}

.trim {
  position: absolute;
  top: 0.125in;
  left: 0.125in;
  width: 4.25in;
  height: 6.875in;
  border: 1px solid #ccc;
}

.safeArea {
  position: absolute;
  top: 0.5in;
  left: 0.5in;
  width: 3.25in;
  height: 5.875in;
}

.cell {
  position: absolute;
  border: 0.5px solid #eef;
}

.cell:hover {
  background: #fdf;
}
